---

---

<div
  class='bg-primary bg-[url(/images/assets/stacked-blue-reward-pins.jpg)] bg-blend-overlay bg-no-repeat bg-cover text-white'
  id='newsletter'
>
  <section class='lg:container lg:mx-auto py-20 px-5 text-center'>
    <div class='flex flex-col gap-8'>
      <div class='flex flex-col items-center gap-6'>
        <div
          class='w-12 h-12 bg-accent/40 flex justify-center items-center rounded-lg'
        >
          <img src='/images/icons/mail.svg' alt='mail' />
        </div>
        <div class='flex flex-col gap-4'>
          <h2 class='capitalize text-3xl md:text-4xl font-bold'>
            stay ahead <span class='lowercase'>of</span>
            <span class='uppercase'>seo</span> trends
          </h2>
          <p class='text-lg max-w-2xl mx-auto'>
            Get weekly insights, algorithm updates, and proven
            strategies delivered to your inbox. Join 10.000+
            marketers who truest our <span class='uppercase'
              >seo</span
            > newsletter.
          </p>
        </div>
      </div>
      <div class='flex flex-col gap-12'>
        <div class='flex flex-col gap-3'>
          <form class='w-full max-w-md mx-auto'>
            <div class='flex flex-col md:flex-row gap-3'>
              <label for='email' class='sr-only'>email</label>
              <input
                type='email'
                id='email'
                placeholder='Enter your email address'
                class='bg-white/10 border border-white/20 grow p-2 rounded-lg'
              />
              <button
                type='submit'
                class='bg-green-400 text-support py-2 px-4 cursor-pointer rounded-lg font-semibold capitalize'
                >subscribe</button
              >
            </div>
          </form>
          <p class='text-xs'>
            No spam, unsubscribe at any time. We respect your
            privacy.
          </p>
        </div>
        <div class='grid md:grid-cols-3 gap-8 capitalize'>
          <div class='flex flex-col gap-2'>
            <span class='text-2xl font-bold'>10.000+</span>
            <span class='text-sm'>newsletter subscribers</span>
          </div>
          <div class='flex flex-col gap-2'>
            <span class='text-2xl font-bold'>weekly</span>
            <span class='text-sm'>expert insights</span>
          </div>
          <div class='flex flex-col gap-2'>
            <span class='text-2xl font-bold'>free</span>
            <span class='text-sm'>always & forever</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
