---
import NewsletterSignupForm from './NewsletterSignupForm';
---

<div
  class='bg-primary bg-[url(/images/assets/stacked-blue-reward-pins.jpg)] bg-blend-overlay bg-no-repeat bg-cover text-white'
  id='newsletter'
  tabindex='-1'
>
  <section
    class='lg:container lg:mx-auto py-16 md:py-24 lg:py-32 px-5 text-center'
  >
    <div class='flex flex-col gap-8'>
      <div class='flex flex-col items-center gap-6'>
        <div
          class='w-12 h-12 bg-accent/40 flex justify-center items-center rounded-lg'
        >
          <img src='/images/icons/mail.svg' alt='mail' />
        </div>
        <div class='flex flex-col gap-4'>
          <h2 class='capitalize text-3xl md:text-4xl font-bold'>
            stay ahead <span class='lowercase'>with</span>
            <span class='uppercase'>seo</span> insights & digital growth
            strategies
          </h2>
          <p class='text-lg max-w-2xl mx-auto'>
            Join 10,000+ business leaders and marketers who rely on
            FjordBoost for <span class='uppercase'>seo</span> insights,
            algorithm updates, and proven optimisation strategies. Stay
            informed, adapt with confidence, and unlock measurable digital
            growth — straight to your inbox.
          </p>
        </div>
      </div>
      <div class='flex flex-col gap-12'>
        <NewsletterSignupForm client:visible />
        <div class='grid md:grid-cols-3 gap-8 capitalize'>
          <div class='flex flex-col gap-2'>
            <span class='text-2xl font-bold'>10.000+</span>
            <span class='text-sm'>trusted subscribers</span>
          </div>
          <div class='flex flex-col gap-2'>
            <span class='text-2xl font-bold'>weekly</span>
            <span class='text-sm'
              >expert SEO & optimisation insights</span
            >
          </div>
          <div class='flex flex-col gap-2'>
            <span class='text-2xl font-bold'>free</span>
            <span class='text-sm'>always free, always valuable</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
