---

---

<!-- Footer-1 from Relume -->
<footer class='xl:container xl:mx-auto'>
  <div class='flex flex-col md:flex-row md:gap-10 border-b pb-10'>
    <div class='flex justify-center gap-40 md:flex-1 capitalize'>
      <div>
        <!-- Column one -->
        <h2>navigation</h2>
        <ul>
          <li>
            <a href='/'>home</a>
          </li>
          <li>
            <a href='/services'>services</a>
          </li>
          <li>
            <a href='/about'>about</a>
          </li>
          <li>
            <a href='/contact-us'
              >contact <span class='lowercase'>us</span></a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2>follow <span class='lowercase'>us</span></h2>
        <!-- Follow us -->
      </div>
    </div>
  </div>
  <div>
    <div>
      <!-- copyright -->
    </div>
    <div>
      <!-- policies -->
    </div>
  </div>
</footer>
