---

---

<!-- Footer-1 from Relume -->
<footer class='xl:container xl:mx-auto'>
  <div class='flex flex-col md:flex-row md:gap-10 border-b pb-10'>
    <div class='md:flex-1'>
      <!-- logo, newsletter sign-up -->
      <img
        src='/images/logo/logo_no-slogan_transparent.png'
        alt='fjordboost'
        class='max-w-40'
      />
      <p>
        <span class='capitalize'>join</span> our newsletter to stay up
        to date on the latest SEO tips and tricks.
      </p>
      <form aria-label='Newsletter Subscription' class='flex gap-6'>
        <label for='email' class='sr-only'>email address</label>
        <input
          type='email'
          id='email'
          placeholder='Enter your email'
          class='flex size-full min-h-11 border border-border-primary bg-background-primary py-2 px-3 placeholder:text-neutral'
          required
        />
        <button
          type='submit'
          class='border border-border-primary text-text-primary bg-background-primary px-5 py-2'
          >Subscribe</button
        >
      </form>
      <p>
        <span class='capitalize'>by</span> subscribing you agree to our
        <a
          href='/privacy-policy'
          class='capitalize underline underline-offset-2'
          >privacy policy</a
        >
        and provide consent to receive updates from our company.
      </p>
    </div>
    <div class='flex justify-center gap-40 md:flex-1 capitalize'>
      <div>
        <!-- Column one -->
        <h2>navigation</h2>
        <ul>
          <li>
            <a href='/'>home</a>
          </li>
          <li>
            <a href='/services'>services</a>
          </li>
          <li>
            <a href='/about'>about</a>
          </li>
          <li>
            <a href='/contact-us'
              >contact <span class='lowercase'>us</span></a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2>follow <span class='lowercase'>us</span></h2>
        <!-- Follow us -->
      </div>
    </div>
  </div>
  <div>
    <div>
      <!-- copyright -->
    </div>
    <div>
      <!-- policies -->
    </div>
  </div>
</footer>
