---

---

<div class='bg-primary text-white' id='home' tabindex='-1'>
  <section class='lg:container lg:mx-auto py-16 md:py-24 lg:py-32'>
    <!-- Boost your rankings top button like -->
    <div class='flex justify-center mb-10 px-5'>
      <div
        class='bg-white text-support flex w-min whitespace-nowrap text-sm/0 items-center rounded-full px-4 py-2 gap-2 capitalize'
      >
        <div class='flex items-center w-3.5'>
          <img
            src='/images/icons/trending-up_green.svg'
            alt='seo ranking pointing up'
            class='h-3.5'
          />
        </div>
        <p>boost your rankings</p>
      </div>
    </div>
    <!-- Heading level 1 and CTA section -->
    <div
      class='flex flex-col gap-6 px-5 pb-10 text-center items-center'
    >
      <h1
        class='capitalize
      text-4xl
      md:text-5xl
      lg:text-6xl
      font-bold'
      >
        premium <span class='uppercase'>seo</span>
        & <span class='text-accent'
          >digital optimisation <span class='lowercase'>in</span> norway</span
        >
      </h1>
      <p class='max-w-3xl text-lg md:text-xl'>
        Empowering digital growth through tailored <span
          class='uppercase'>seo</span
        > strategies, technical audits, and website optimisation. FjordBoost
        helps startups, <span class='uppercase'>sme</span>s, and
        entrepreneurs achieve higher rankings, measurable traffic
        growth, and lasting digital success.
      </p>
      <div
        class='flex flex-col md:flex-row gap-6 w-full items-center md:justify-center capitalize font-semibold'
      >
        <a
          href='#newsletter'
          class='bg-secondary hover:bg-green-500 px-8 py-2 rounded-md w-full md:w-auto max-w-100 transition-colors'
          >start growing <span class='lowercase'>with</span> fjordBoost</a
        >
        <a
          href='#contact'
          class='bg-white hover:bg-green-500 text-secondary hover:text-white transition-colors px-8 py-2 rounded-md w-full md:w-auto max-w-100'
          >get your free SEO audit</a
        >
      </div>
    </div>
    <!-- stats section -->
    <div
      class='flex flex-col gap-10 md:gap-20 lg:gap-30 md:flex-row justify-center text-center px-5'
    >
      <div>
        <div class='font-bold text-2xl'>500+</div>
        <div class='text-sm capitalize'>
          websites optimised across industries
        </div>
      </div>
      <div>
        <div class='font-bold text-2xl'>150%</div>
        <div class='text-sm capitalize'>
          average organic traffic growth
        </div>
      </div>
      <div>
        <div class='font-bold text-2xl'>24/7</div>
        <div class='text-sm capitalize'>
          dedicated monitoring & support
        </div>
      </div>
    </div>
  </section>
</div>
