---

---

<div class='bg-primary text-white'>
  <section class='lg:container lg:mx-auto'>
    <!-- Boost your rankings top button like -->
    <div class='flex justify-center pt-20 pb-10 px-5'>
      <div
        class='bg-white text-support flex w-min whitespace-nowrap text-sm/0 items-center rounded-full px-4 py-2 gap-2 capitalize'
      >
        <div class='flex items-center w-3.5'>
          <img
            src='/public/images/icons/trending-up.svg'
            alt='seo ranking pointing up'
            class='h-3.5'
          />
        </div>
        <p>boost your rankings</p>
      </div>
    </div>
    <div class='flex flex-col gap-4 px-5 text-center items-center'>
      <h1
        class='capitalize
      text-4xl
      md:text-5xl
      lg:text-6xl
      font-bold'
      >
        dominate search results <span class='lowercase'
          >with
        </span><span class='text-accent'>expert SEO services</span>
      </h1>
      <p class='max-w-3xl text-lg md:text-xl'>
        Transform your online presence with data-driven SEO
        strategies. We help businesses climb to the top of search
        rankings and drive organic traffic that converts.
      </p>
    </div>
  </section>
</div>
