---

---

<section class='bg-primary text-white'>
  <div
    class='flex flex-col px-5 py-10 text-center gap-10 xl:container xl:mx-auto'
  >
    <h1 class='text-5xl md:text-7xl xl:text-8xl font-bold'>
      <span class='uppercase'>seo</span> services for startups and small
      business in <span class='capitalize'>norway</span>
    </h1>
    <p class='xl:text-lg'>
      We help you grow faster with agile <span class='uppercase'
        >seo</span
      > strategies, technical audits, and search-optimized websites tailored
      for your pace and market.
    </p>
    <div
      class='flex flex-col items-center sm:flex-row justify-center gap-6 font-bold w-full'
    >
      <a
        href='/services'
        class='bg-white text-support rounded-lg py-2 px-4 capitalize cursor-pointer w-full sm:w-fit max-w-sm'
        >View services</a
      >
      <a
        href='/contact-us'
        class='border border-white rounded-lg py-2 px-4 capitalize cursor-pointer w-full sm:w-fit max-w-sm'
        >contact us</a
      >
    </div>
  </div>
</section>
