---
const services = [
  {
    icon: '/images/icons/research.svg',
    title: 'Keyword Research & Strategy',
    description:
      'Data-driven keyword insights to uncover high-value opportunities and build content strategies that capture traffic and conversions.',
  },
  {
    icon: '/images/icons/optimisation.svg',
    title: 'On-Page Optimisation',
    description:
      'From meta tags to site structure, we optimise every element to boost visibility, improve engagement, and enhance rankings.',
  },
  {
    icon: '/images/icons/analytics-and-reporting.svg',
    title: 'Analytics & Reporting',
    description:
      'Transparent performance dashboards and monthly reports that clearly show ROI, traffic growth, and keyword performance.',
  },
  {
    icon: '/images/icons/local-seo.svg',
    title: 'Local SEO for Norway',
    description:
      'Boost local visibility with Google Business optimisation, location-based targeting, and strategies tailored for the Norwegian market.',
  },
  {
    icon: '/images/icons/content-marketing.svg',
    title: 'SEO-Driven Content Marketing',
    description:
      'SEO-driven content creation that engages audiences, strengthens authority, and drives sustainable organic growth.',
  },
  {
    icon: '/images/icons/technical-seo.svg',
    title: 'Technical SEO',
    description:
      'Speed, mobile performance, and advanced technical fixes that ensure your website is search-ready and future-proof.',
  },
];
---

<div class='bg-white text-secondary' id='services'>
  <section
    class='flex flex-col gap-10 lg:container lg:mx-auto px-5 py-16 md:py-24 lg:py-32'
  >
    <div class='flex flex-col gap-5 text-center'>
      <h2 class='capitalize text-3xl md:text-4xl font-bold'>
        premium <span class='uppercase'>seo</span> & digital optimisation
        services <span class='lowercase'>in</span> norway
      </h2>
      <p class='text-lg max-w-2xl mx-auto'>
        FjordBoost delivers tailored <span class='uppercase'
          >seo</span
        > and digital optimisation services that empower lasting growth.
        From Keyword strategy to technical optimisation, we help Norwegian
        businesses achieve higher rankings, measurable traffic, and long-term
        digital success.
      </p>
    </div>
    <div
      class='grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 max-w-84 md:max-w-174 lg:max-w-264 mx-auto'
    >
      {
        services.map((service) => (
          <section class='flex flex-col gap-3 border rounded-lg border-accent hover:shadow-lg transition-shadow duration-300 p-5'>
            <div class='w-12 h-12 bg-neutral rounded-lg flex items-center justify-center'>
              <img src={service.icon} alt='' />
            </div>
            <h3 class='text-xl'>{service.title}</h3>
            <p>{service.description}</p>
          </section>
        ))
      }
    </div>
  </section>
</div>
