---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

const { title } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title} | FjordBoost</title>
  </head>
  <body class='flex flex-col min-h-screen'>
    <Header
      logo={{
        link: '/images/logo/logo_no-slogan_transparent.png',
        alt: 'fjordboost',
      }}
      navLinks={[
        {
          link: '/',
          label: 'home',
        },
        {
          link: '/services',
          label: 'services',
        },
        {
          link: '/about',
          label: 'about',
        },
      ]}
      navCTAs={[
        {
          link: '/contact-us',
          label: 'contact-us',
        },
      ]}
      styles={{ menuJustify: 'justify-end gap-6' }}
    />
    <main class='flex-grow'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
