---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

const { title, description } = Astro.props;
---

<html lang='en'>
  <head>
    <!-- Start cookieyes banner -->
    <script
      type='text/javascript'
      nonce='0156c2445b8443d9b05c2498ccc'
      src='//local.adguard.org?ts=1755565331992&type=content-script&dmn=app.cookieyes.com&url=https%3A%2F%2Fapp.cookieyes.com%2Fapi%2Fv2%2Fwebsites%2F1132113%2Fscript&app=msedge.exe&css=3&js=1&rel=1&rji=1&sbe=1'
    ></script>
    <script
      type='text/javascript'
      nonce='0156c2445b8443d9b05c2498ccc'
      src='//local.adguard.org?ts=1755565331992&name=AdGuard%20Extra&name=AdGuard%20Popup%20Blocker&type=user-script'
    ></script>
    <script
      id='cookieyes'
      type='text/javascript'
      src='https://cdn-cookieyes.com/client_data/6c53b4fcd1b40eca28285c14/script.js'
    ></script>
    <!-- End cookieyes banner -->
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title} | FjordBoost</title>
    <meta name='description' content={description} />
    <!-- Matomo -->
    <script>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = 'https://fjordboost.matomo.cloud/';
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
        g.async = true;
        g.src =
          'https://cdn.matomo.cloud/fjordboost.matomo.cloud/matomo.js';
        s.parentNode?.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body class='flex flex-col min-h-screen scroll-smooth'>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src='https://www.googletagmanager.com/ns.html?id=GTM-MFJNGHFZ'
        height='0'
        width='0'
        style='display:none;visibility:hidden'></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <main class='flex-grow'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
