---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

const { title, description } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title} | FjordBoost</title>
    <meta name='description' content={description} />
    <!-- Matomo -->
    <script>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = 'https://fjordboost.matomo.cloud/';
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
        g.async = true;
        g.src =
          'https://cdn.matomo.cloud/fjordboost.matomo.cloud/matomo.js';
        s.parentNode?.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body class='flex flex-col min-h-screen scroll-smooth'>
    <Header />
    <main class='flex-grow'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
